table tbody th,
table tbody td {
    vertical-align: middle;
}

.navbar-brand-box .logo {
    color: #fff;
}

.table-action {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.delete-icon input[role=button] {
    background: none;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.desk-overview-img {
    width: 100%;
    max-width: 100px;
}

.leaflet-map {
    height: 600px;
}

.leaflet-popup-content {
    min-width: 200px;
}

.leaflet-popup-content .form-label,
.leaflet-popup-content .form-control {
    font-size: 14px;
}

.leaflet-container a.leaflet-popup-close-button {
    top: 5px;
    right: 5px;
}

.floor-map-date {
    margin: 0 auto;
    max-width: 200px;
}

.form-switch.toggle-button .form-check-input:checked {
    background-color: #34c38f;
    border-color: #34c38f;
}

.form-switch.toggle-button .form-check-input {
    width: 3em;
    height: 20px;
}

.toggle-button label {
    font-size: 20px;
    padding-left: 13px;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background: none;
}


/* #leaflet-map {
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    } */